p {
    padding: 20px;
    font-size: 20px;
    border-radius: 2%;
    width: 420px;
}

#basket:hover{
    cursor: pointer;
}

.basket-btn{
    background-color:#012970;
    color: #fff;
    border: none;
    border-radius: 1em;
    height: 40px;
}