<!--<div class="container">
    <h1>Witaj w naszym biurze podróży</h1>
<button class="btn btn-primary"><a class="nav-link" routerLink="/shop">Aktualna oferta</a></button>
<h2>Kontakt:</h2>
<div class="info">
    <p>tel. +48 420694206</p>
    <p>ul. Krakowska 21/37</p>
    <p>Rynek, Kraków</p>
</div>

<div class="wrapper">
    <img src="assets/mapa.png" alt="mapa z lokalizacją">
</div>
</div>-->
<nav class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-container">
        <div class="navbar-title">
            <h1>Witaj w naszym biurze podróży</h1>
        </div>
        <div class="navbar-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, impedit at reiciendis ipsam deserunt quae et eligendi minus soluta perferendis. Est reiciendis rerum, similique ratione esse laboriosam? Provident soluta autem, quaerat iusto eveniet beatae velit, laudantium reprehenderit nulla odio corrupti?</p>
        </div>
        <button class="btn btn-primary navbar-btn"><a class="nav-link" routerLink="/shop">Aktualna oferta</a></button>
    </div>
    <div class="contact-container">
        <div class="contact-header">
            Kontakt
        </div>
        <div class="contact-content">
            <p>tel. +48 420694206</p>
            <p>ul. Krakowska 21/37</p>
            <p>Rynek, Kraków</p>
        </div>
    </div>
</nav>
<footer class="footer">
    
</footer>


