<nav class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-container">
        <div class="navbar-title">
            <h1>Witaj w naszym biurze podróży</h1>
        </div>
        <div class="navbar-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, impedit at reiciendis ipsam deserunt quae et eligendi minus soluta perferendis. Est reiciendis rerum, similique ratione esse laboriosam? Provident soluta autem, quaerat iusto eveniet beatae velit, laudantium reprehenderit nulla odio corrupti?</p>
        </div>
        <button class="btn btn-primary navbar-btn"><a class="nav-link" routerLink="/shop">Aktualna oferta</a></button>
    </div>
    <div class="contact-container" data-tilt data-tilt-scale="0.95" data-tilt-startY="40">
        <div class="contact-header">
            <i class="bi bi-person-lines-fill"></i> Kontakt
        </div>
        <div class="contact-content">
            <p><i class="bi bi-telephone"></i> +48 420694206</p>
            <p><i class="bi bi-geo-alt-fill"></i> ul. Krakowska 21/37</p>
            <p><i class="bi bi-building"></i> Kraków</p>
        </div>
        <button id="card-btn" routerLink="/shop">OFERTA</button>
    </div>
</nav>
<footer class="footer">
    <img src="../../assets/img/mapa.png" alt="">
</footer>


