<div class="container">
    <div class="title-box">
        <p class="title">
            Wybierz temat
        </p>
    </div>
    <div class="topics-container">
        <div class="topic">
            <p class="topic-title">The Basics</p>
            <p class="topic-description">
                Core Angular basics you have to know
            </p>
            <button class="btn" (click)="btnClicked('The Basics','Core Angular basics you have to know')">Learn more</button>
        </div>
        <div class="topic">
            <p class="topic-title">Components</p>
            <p class="topic-description">
                Components are a core concept for building Angular UIs and apps
            </p>
            <button class="btn" (click)="btnClicked('Components','Components are a core concept for building Angular UIs and apps')">Learn more</button>
        </div>
        <div class="topic">
            <p class="topic-title">Events</p>
            <p class="topic-description">
                Events are important in Angular
            </p>
            <button class="btn" (click)="btnClicked('Events','Events are important in Angular')">Learn more</button>
        </div>
    </div>
</div>