@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body{
    background-image:
        linear-gradient(rgba(10, 119, 228, 0.6), rgba(10, 119, 228, 0.6)), 
        url('bg.jpg');
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

li{
    color: #fff;
    background-color: rgb(21, 158, 204);
    display: block;
    padding: 1rem 2rem 1rem 2rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

li a{
    color: #fff;
}

li:focus-within a{
    outline: none;
}

.dropdown{
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    min-width: 10rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

.dropdown li{
    background-color: #fff;
    color: rgb(21, 158, 204);
    border-bottom: 1px solid rgb(21, 158, 204);
    cursor: pointer;
}

.dropdown li:hover{
    background-color: rgb(21, 158, 204);
    color: #fff;
    transition: 0.3s ease-in-out;
}

.nav-links li:hover > ul,
.nav-links li ul:hover{
    visibility: visible;
    opacity: 1;
    display: block;
}

.navbar{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(21, 158, 204);
    color: #fff;
}

.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: 200;
}

.logo{
    font-size: 1.4em;
    font-weight: 200;
    margin-left: 5%;
}

.logo-span{
    font-weight: bold;
}

.nav-buttons{
    margin-right: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-btn{
    margin-right: 1em;
    text-transform: uppercase;
    background-color: rgb(21, 158, 204);
    border: 2px solid #fff;
    border-radius: 25px;
    width: 6vw;
    min-width: 80px;
    height: 4vh;
    color: #fff;
    cursor: pointer;
}

.login-btn:hover{
    background-color: #fff;
    border: 2px solid #fff;
    color: rgb(21, 158, 204);
    transition: 0.3s ease-in-out;
}

.sign-up-btn{
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 25px;
    border: 2px solid #fff;
    width: 6vw;
    min-width: 80px;
    height: 4vh;
    color: rgb(21, 158, 204);
    cursor: pointer;
}

.sign-up-btn:hover{
    background-color: rgb(21, 158, 204);
    border: 2px solid #fff;
    color: #fff;
    transition: 0.3s ease-in-out;
}

@media screen and (max-width: 1000px){
    .navbar{
        flex-direction: column;
    }

    .logo{
        text-align: center;
        margin: 0;
    }

    .nav-buttons{
        margin-bottom: 10px;
    }

    .nav-links{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .dropdown{
        position: relative;
        border: 3px solid rgb(14, 97, 125);
        border-radius: 30px;
        width: 70vw;
    }

    .dropdown li:nth-child(1){
        border-top-left-radius: 26px;
        border-top-right-radius: 26px;
    }

    .dropdown li:nth-child(4){
        border-bottom-left-radius: 26px;
        border-bottom-right-radius: 26px;
    }    
}