@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}

#p1{
    background-color: aqua;
    margin: 0 15px 20px 15px;
    padding: 20px 0 20px 0;
    border: 3px solid black;
    font-style: italic;
    font-weight: bold;
    color: black;
    font-size: large;
}

#p2{
    background-image: url('carbon_fibre.webp');
    margin: 0 15px 20px 15px;
    padding: 20px 0 20px 0;
    border: 5px dotted #fff;
    color: whitesmoke;
    font-weight: 900;
    font-style: oblique;
    font-size: 20px;
    width: 1400px;
    height: 150px;
}

#p3{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,48,1) 35%, rgba(255,0,0,1) 100%);
    margin: 0 15px 20px 15px;
    padding: 20px 0 20px 0;
    border: 3px solid black;
    border-radius: 25px 0 0 0;
    color: wheat;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 1.2em;
    width: 95%;
    height: 50px;
    overflow: scroll;
}

#p4{
    background-image: url('bg-img.jpg');
    background-origin: padding-box;
    margin: 0 15px 20px 15px;
    padding: 20px 0 20px 0;
    border: 4px dashed white;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

#first-table {
    border:2px solid #ffffff;
    border-collapse:collapse;
    border-spacing:3px;
    padding:5px;
    width: 60%;
    height: 300px;
}
#first-table th {
    border:2px solid #ffffff;
    border-bottom: 5px solid #fff;
    padding:5px;
    background: #5c76c1;
    color: #313030;
    height: 40px;
}
#first-table td {
    border:2px solid #ffffff;
    text-align:center;
    padding:5px;
    color: #313030;
}

#first-table tr:nth-child(odd){
    background: #bdd6e5;
}

#first-table tr:nth-child(even){
    background: #d8e2e9;
}

#second-table {
    border:2px solid #ffffff;
    border-collapse:collapse;
    border-spacing:3px;
    padding:5px;
    width: 60%;
    height: 300px;
}
#second-table th {
    border:2px solid #ffffff;
    border-bottom: 5px solid #fff;
    padding:5px;
    background: #5c76c1;
    color: #313030;
    height: 40px;
}
#second-table td {
    border:2px solid #ffffff;
    text-align:center;
    padding:5px;
    color: #313030;
}