#content {
    -webkit-box-shadow: 0px 0px 39px -15px rgba(136, 136, 136, 1);
    -moz-box-shadow: 0px 0px 39px -15px rgba(136, 136, 136, 1);
    box-shadow: 0px 0px 39px -15px rgba(136, 136, 136, 1);
    border-radius: 10%;
}

#top-section {
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #5076be;
}

#top-section > p{
    margin: 10px 30px 0 30px;
    font-weight: bold;
}

#bottom-section > p {
    margin: 10px 30px 0px 30px;
}

#places-sections > p {
    margin-left: 30px;
    margin-right: 30px;
}

#info-sections {
    display: flex;
    justify-content: space-evenly;
}

#info-sections > img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 30px;
}

#bottom-section {
    display: flex;
    justify-content: space-between;
    background-color: #e9e3e3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color:#5076beae;
}

#buttons > button{
    margin: 10px;
    width: 30px;
    height: 30px;
    border-radius: 20%;
}

#lastPlace {
    margin: 10px 30px 10px 30px ;
    padding: 10px;
    background-color: #e4a512;
    color: white;
    font-weight: 500;
}

#noPlace {
    margin: 10px 30px 10px 30px ;
    padding: 10px;
    background-color: #be2525;
    color: white;
    font-weight: 500;
}

#btnDel {
    border: none;
    background-color: #c72222;
}
#btnAdd {
    border: none;
    background-color: #188f22;
}
#btnOdd {
    border: none;
    background-color: #dee508;
}
.top-section1 {
    background-color: #188f22;
}
.top-section2 {
    background-color: #c72222;
}
.top-section3 {
    background-color: #e9e3e3;
}