@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;;
}

.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

}

@media (min-width: 0px){
    .main-item picture img{
        width: 250px;
        height: 150px;
    }

    .card{
        width: 250px;
    }
}

@media (min-width: 1000px){
    .main-item picture img{
        width: 350px;
        height: 230px;
    }

    .card{
        width: 350px;
    }
}

@media (min-width: 1700px){
    .main-item picture img{
        width: 450px;
        height: 300px;
    }

    .card{
        width: 450px;
    }
}

.main-item > figcaption{
    margin-left: 5%;
    margin-top: 5%;
    font-weight: 500;
    font-size: 1.35em;
    color: rgba(0,0,0,0.75);
}

.description-title{
    margin-left: 5%;
    margin-top: 5%;
    font-weight: bold;
    font-size: 1.2;
    color:rgba(255,0,0,0.60)
}

.description-content{
    margin: 3% 5% 3% 5%;
    color: rgba(0,0,0,0.6);
}

.card-btn{
    background-color: rgba(255,0,0,0.60);
    color: white;
    border: none;
    width: 25%;
    height: 4vh;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 5%;
    float: left;
}

img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-statistics{
    float: right;
    margin: 3% 5% 0 0;
    color: rgba(0,0,0,0.6);
}


.card{
    -webkit-box-shadow: 0px 0px 10px 1px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 10px 1px rgba(66, 68, 90, 1);
    border-radius: 20px;
    margin: 20px 0 20px 0;
}