<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <span class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">Sklep z wycieczkami</span>
      </span>
    </div><!-- End Logo -->
    <div class="nav-menu">
      <a class="nav-link" routerLink="/" alt="Homepage">Strona główna</a>
      <a class="nav-link" routerLink="/shop" alt="Tours list">Wycieczki</a>
      <a class="nav-link" routerLink="/adding" alt="Adding tour">Dodaj wycieczkę</a>
      <a class="nav-link" routerLink="/cart" alt="Bucket">Koszyk</a>
      <a class="nav-link" routerLink="/" alt="History">Twoje wycieczki</a>
    </div>
  </header><!-- End Header -->
